.wrapper {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wrapper-item {
    border: 1px solid #000;
    width: 500px;
    margin-top: 10px;
}